*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4{
    font-weight: unset;
}
/******************************************************************/
.w50{
    width: 50%;
}
.Cblack{
    color: black;
}
.db{
    display: block;
}


/**********************************************************/

/*                HEADER ***********************************/
header{
    margin: 0 auto;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    text-align: right;


}

.left{
    padding-top:20px;

}
.logo{
    width: 80px;
    height: 80px;
    background-image: url(../img/logo.png);
    background-size: contain;

}


/*********************************************/


/************************************** header links  ******************************************/
.right{
    padding-top:20px;




}
.right nav ul li{
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
    padding: 5px;

}
.right nav ul li a{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 18px;

}
.right nav ul li:hover{
    background-color: rgb(238, 234, 234);
    border-radius: 20px;

}


div.amburguer ul{
    display:none;

}
div.submenu{
    transform:translate(-85%,0%);
    background-color:rgba(10, 92, 24, 1000);
    position:absolute;
    transition:0.2s linear;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    border-radius:20px;

}


/******************************************/
/* conteudo **************************************************************/

.conteiner{
    display: inline-block;
    width: 40%;
    padding: 150px 0 0 8%;
    font-family: 'Source Sans Pro', sans-serif;

}

.conteiner h4{
    font-weight: 400;
    font-size: 60px;
}

.btn{
    letter-spacing:1px;
    margin-top: 15px;
    color: white;
    text-align: center;
    width: 110px;
    padding: 8px 0px;
    background-color:#2a7242 ;
    border-radius: 40px;
}
.btn:hover{
    cursor: pointer;
}

/*************************************************************/

/**********************************   Redes Sociais ******************/
.rs{
    z-index: 2;
    position:absolute;
    right: 0px;
    top: 300px;
    width: 200px;
    height: 200px;
    text-align: right;
}
.icon{
    z-index: 2;
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
    margin-right:20px;
    display: inline-block;
}
.icon:hover{
    cursor: pointer;
}

.i1{
    background-image: url(../img/facebook.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}
.i2{
    background-image: url(../img/twitter.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}
.i3{
    background-image: url(../img/instagram.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;  


}

/*******************************************************/

.Bucketeiner{
    z-index: 1;
    position: fixed;
    top: 200px;
    right: -300px;
    display: inline-block;
    border-radius: 1000px;
    width: 58%;
    height: 900px;
    background-color:#2a7242;
}
@keyframes mymove {
    0% {top: 0px;}
    50% {top: 15px;}
    100%{top: 0px; }
}

.imagem{
    margin-left: 30px;
    width: 50%;
    height: 500px;
    background-image: url(../img/img1.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    animation: mymove 3s linear infinite;



}





.copos{
    display: flex;
    position: absolute;
    left:40%;
    margin: 0 auto;
    width: 300px;
    height:  200px;
}
.copinhu{
    position: relative;
    top:100px;
    width: 100px;
    display: inline-block;
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.2s linear;
}
.copinhu:hover{
    cursor: pointer;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

}

.im1{
    background-image: url(../img/img1.png);
}

.im2{
    background-image: url(../img/img2.png);
}
.im3{
    background-image: url(../img/img3.png);
}

@media screen and (max-width: 768px){
    div.submenu ul li a {
        font-size: 15px;
    }
    .right nav ul{
        display: none;
    }
    .right{
        display:flex;
        justify-content: flex-end;
    }
    div.amburguer{
        box-sizing: content-box;
        width:50px;
        height:50px;
        padding:10px 10px;
        border-radius:20px;
       
    }
    div.amburguer:hover{
        cursor: pointer;
        background-color: rgb(235, 232, 232);
    }
    div.barra1{
        position:relative;
        top:10px;
        width: 100%;
        height: 1vh;
        background-color: black;
    }
    div.barra2{
        position:relative;
        top:25px; 
        width: 100%;
        height: 1vh;
        background-color: black;
    }
    div.copos{
        z-index:2;
        left: 20%;
        bottom: 10px;
        width: 200px;
        height: 200px;
    }
    .Bucketeiner{
        z-index: 1;
        position: fixed;
        top: 59vh;
        right: -100px;
        display: inline-block;
        border-radius: 1000px;
        width: 65%;
        height: 200px;
        background-color:#2a7242;
    }
    .rs{
        z-index: 2;
        position:absolute;
        right: 0px;
        top: 65vh;
        width: 200px;
        height: 50px;
        text-align: right;
    }
    .icon{
        z-index: 2;
        width: 25px;
        height: 25px;
        margin-bottom: 20px;
        margin-right:2px;
        display: inline-block;
    }

    section.conteiner article > h4{
        font-size: 5vh;
    }
    
    section.conteiner{
        width: 100%;
        padding: 1vh 0 0 8%;

    }


}

@media screen and (min-width:769px){
    div.amburguer {
        display: none;
        
    }
   
}

@media screen and (max-width:950px){
    div.left{
        width: 35%;
    }
    div.right{
        width: 65%;
    }
}